#anasayfa {
    height: 600px;
    background-image: url("/resimler/anasayfa.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

#perde {
    height: 600px;
    background-color: black;
    opacity: 0.8;
}

#content {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    /*içeriği tam orta noktasına göre konumlandırmak için*/
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 60px;
}

#Hobiler {
    padding: 50px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}

#h3gri {
    font-size: 60px;
    font-weight: 600;
    color: #444;
}

h1 {
    font-size: 60px;
    font-weight: 600;
}

#container {
    width: 1200px;
    height: auto;
    margin-bottom: 50px;
    ;
}

#sol {

    float: left;
    border-right: 3px solid #444;
    font-size: 30px;
    width: 400px;
    color: #444;
}

#h5sol {
    font-weight: 200;
    font-size: 30px;
}

#sag {
    float: right;
    width: 750px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;

}

.img-fluid {
    margin-left:300px;
    max-height: 400px;
    margin-bottom: 50px;

}

.mt100 {
    margin-top: 50px;
}

hr {
    font-size: 1000px;
    color: #df0606;
    opacity: 1;
    margin-bottom: 50px;
    margin-top: 50px;
}

#sperde {
    height: 700px;
    background-color: black;
    opacity: 0.5;
}

#slider {
    height: 700px;
    background: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

#scontent {

    color: black;
    position: absolute;
    top: 55%;
    left: 50%;
    /*içeriği tam orta noktasına göre konumlandırmak için*/
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: x-large;
    text-decoration: none;

}

.bcw {
    background-color: hsla(188, 92%, 37%, 0.404);

}