#anasayfa {
    height: 600px;
    background-image: url("/resimler/anasayfa.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#perde {
    height: 600px;
    background-color: black;
    opacity: 0.8;
}

#content {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    /*içeriği tam orta noktasına göre konumlandırmak için*/
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 60px;
}

#Hobiler {
    padding: 50px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}

#h3gri {
    font-size: 60px;
    font-weight: 600;
    color: #444;
}

h1 {
    font-size: 60px;
    font-weight: 600;
}

#container {
    width: 1200px;
    height: auto;
    margin-bottom: 50px;
    ;
}

#sol {

    float: left;
    border-right: 3px solid #444;
    font-size: 30px;
    width: 400px;
    color: #444;
}

#h5sol {
    font-weight: 200;
    font-size: 30px;
}

#sag {
    float: right;
    width: 750px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;

}

.img-fluid {
    margin-left: 300px;
    max-height: 400px;
    margin-bottom: 50px;

}

.mt100 {
    margin-top: 50px;
}

hr {
    font-size: 1000px;
    color: #df0606;
    opacity: 1;
    margin-bottom: 50px;
    margin-top: 50px;
}

#sperde {
    height: 700px;
    background-color: black;
    opacity: 0.5;
}

#slider {
    height: 700px;
    background: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

#scontent {

    color: black;
    position: absolute;
    top: 55%;
    left: 50%;
    /*içeriği tam orta noktasına göre konumlandırmak için*/
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: x-large;
    text-decoration: none;

}

.bcw {
    background-color: hsla(188, 92%, 37%, 0.404);

}

#arkaplan {
    height: 600px;
    background-image: url("resimler/mirasspor.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.orta {
    text-align: center;

    margin-left: 250px;
}

#main {

    height: max-content;
    background-image: url("resimler/ilgialan.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.app{
    
    display: flex;
    flex-direction: column;
    align-items: center ;
    text-align: center;
    background: rgb(0, 0,0,.7);
    height: 100vh;
    color: #fff;

}
.header{
    margin-top: 80px;
    padding: 50px 20px 30px 20px;
}
.header h1{
    font-size: 100px;
    color: orange;
    text-shadow: 1px 3px black;
}

.header input{
    width: 100%;
    padding: 8px;
    text-align: center;
    border-color: orange;
    background: transparent;
    font-size: 20px;
    color: #fff;
}

.city{
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 8px;
    text-shadow: 1px 3px black;
}
.temp{
    font-size: 100px;
    margin-bottom: 8px;
    text-shadow: 1px 3px black;
    font-weight: 500;
}

.desc{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10px;
    text-shadow: 1px 3px black;
}
.minmax{
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 10px;
    text-shadow: 1px 3px black;
}